@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Vazirmatn";
    font-style: normal;
    font-display: swap;
    src: url("../assets/Vazirmatn-RD-FD-NL-Regular.woff2") format("woff2");
    /* src: url("../assets/Vazirmatn[wght].woff2") format("woff2"); */
  }

  body {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }
}
@layer base {
  /* Remove spinner buttons from number inputs */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
