:root,
[class*="ag-theme"] {
  --ag-font-family: "Vazirmatn", sans-serif;
}

.ag-paging-panel {
  overflow-x: auto;
  max-width: 100%;
  height: max-content;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0;
}

.ag-paging-panel * {
  min-width: max-content;
}

@media screen and (min-width: 55em) {
  .ag-paging-panel {
    flex-direction: row;
  }
}
